

.title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: x-large;
}

.subtitle {
    text-align: center;
    margin-bottom: rem;
}

.input_container {
    display: flex;
    flex-direction: column;
}
/* 
.input_container input {
    width: 95%;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 25px;
    font-size: 1rem;
} */

.login_button {
    text-align: center;
    columns: white;
    display: block;
    margin: 3rem auto 1rem auto;
    width: 55%;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    outline: 0;
    font-size: 1rem;
    background-color: rgb(238, 160, 88);
    cursor: pointer;
    border: 2px solid transparent;
}

.login_button:hover {
    border: 2px solid orangered;
    background-color: rgba(0, 0, 0, 0.171);
}