@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,600&family=Montserrat:wght@400&display=swap');


@layer utilities {
  .meals {
      @apply relative text-black text-[4vw] font-[900]
  }
  .meals::before {
      @apply content-['meals'] absolute text-orange border-r-2
      border-orange top-0 left-0 w-0 h-[100%] overflow-hidden
      animate-animate
  }
}



.mealContainer .singleMeal {
    position: relative;
    width: 200px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    background: rgb(255, 221, 177);
    box-shadow: 0 2px 2px gray;
    margin-left: 20px;
}



.listingSection {
    flex-basis: 70%;
    margin-top: 50px;
}

.meal-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .meal-preview .preview {
    display: inline-block;
    padding: 2rem;
    text-align: center;
    background: #ffffffff;
    position: relative;
    margin: 2rem;
    width: 40rem;
  }

  .singleMeal:hover {
    background-color: rgb(245 158 11 / var(--tw-bg-opacity));
    cursor: pointer;
    outline: .2rem solid rgb(245 158 11 / var(--tw-bg-opacity));
  }

