h2 {
    font-size: 1.25rem;
}

.sideBar {
    background: rgb(230, 191, 140);
    height: 100%;
    box-shadow: 1px 0px 4px gray;
    width: 20%;
    gap: 3rem;
    overflow: auto;

}

.sidebar .logoDiv {
    padding: 1.5rem 1.5rem 0;
    cursor: pointer;
}

.sidebar .logoDiv img {
    max-width: 50px;
    margin-right: .5rem;
    border-radius: 2px;
    padding: .2rem;
}


.menuDiv .divTitle,
.settingsDiv .divTitle {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    padding: 0 1.5rem 1.5rem;
}

.menuDiv .menuLists .listItem,
.settingsDiv .menuLists .listItem {
    padding: 0.2rem 1.5rem;
    width: 100%;
    position: relative;
}

.menuDiv .menuLists .listItem::before,
.settingsDiv .menuLists .listItem::before {
    position: absolute;
    content: '';
    left: 0;
    width: 5px;
    bottom: 0;
    height: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(209, 81, 35);
}

.menuDiv .menuLists .listItem .menuLink,
.settingsDiv .menuLists .listItem .menuLink {
    color: gray;
    font-weight: 500;
    transition: 0;
}

.menuDiv .menuLists .listItem .menuLink .icon,
.settingsDiv .menuLists .listItem .menuLink .icon {
    margin-right: 0.5rem;
}

.menuDiv .menuLists .listItem:hover .menuLink,
.settingsDiv .menuLists .listItem:hover .menuLink {
    color: rgb(209, 81, 35);
    transition: 0;
}

.menuDiv .menuLists .listItem:hover::before,
.settingsDiv .menuLists .listItem:hover::before {
    height: 100%;
    transition: .3s ease;
}
